a {
  text-decoration: none;
  color: #465C7A;
}

.cards {
  padding: 20px;
  border-radius: 30px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(45deg, #FCBB6D 0% , #FCBB6D 100%);
  box-shadow: 0px 50px 80px 0px #FCBB6D;
  transition: transform 0.7s, box-shadow 0.7s;
}

.cards:hover {
  background:#D9727F ;
  transform: scale(1.10);
  box-shadow: 0px 50px 80px 0px #D9727F;
}

@keyframes cardshover {
  0%{    
    background:#D9727F ;
    transform: scale(1);
    box-shadow: 0px 50px 80px 0px #D9727F;

  }
  100%{
    background:#D9727F ;
    transform: scale(1.1);
    box-shadow: 0px 50px 80px 0px #D9727F;

  }
}

.cards header {
  font-size: large;
  text-transform: uppercase;
}

.cards summary {
  font-size: 1.9rem;
}

.cards footer {
  font-size: 1rem;
  padding: 5px;
  border-radius: 10px;
  color: #465C7A;
}