/* Mobile S - 320px */
@media (min-width: 320px) {
  .container {
    /* background-color: #fff8ec; */
    /* background-image: url(./patternpad.svg);
    background-size: 50%; Do not repeat the image */
    width: 100%;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 30px;
    gap: 30px;
    margin-bottom: 20px;
  }
  
}

@media (min-width: 768px) {
  .gridContainer {
    display: grid;
    grid-template-columns: 300px 300px;
    justify-content: center;
  }
}

@media (min-width: 1024px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    justify-content: center;
  }
}

@media (min-width: 1440px) {
  .gridContainer {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    justify-content: center;
  }
}
