@media (min-width: 320px) {
  .container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }

  .header {
    align-items: center;
    color: black;
    display: grid;
    font-size: 1.2rem;
    font-weight: bold;
    grid-area: header;
    grid-template-areas: "header header";
    height: 50px;
    justify-content: space-between;
    padding: 0 10px

  }

  .description {
    color: #333;
    display: grid;
    font-size: 1.1rem;
    grid-column: 1 /-1;
    height: 83vh;
    margin-top: 20px;
    padding: 20px;
    text-align: center;
  }

  .description p {
    margin-top: 10px;
  }

  .description h1 {
    font-family: inter, sans-serif;
    font-size: 4rem;
    font-weight: bold;
  }  
}

@media (min-width: 425px) {
  .description {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .logo {
    justify-content: left;
    padding: 0 20px;
  }

  .description {
    font-size: 1.3rem;
    padding: 0 80px;
  }
}

@media (min-width: 1024px) {
  .description {
    font-size: 1.4rem;
    grid-column: 3 / 11;
    padding: 10px;
  }
}

@media (min-width: 1440px) {
  .description {
    font-size: 1.4rem;
    grid-column: 4 / 10;
  }
}

@media (min-width: 2560px) {
  .description {
    font-size: 2.1rem;
    grid-column: 4 / 10;
  }
}
