@media (min-width: 320px) {
  .container {
    grid-area: 14 / 1 / 15 / 17;
    margin-bottom: 20px;
  }
  
  .content {
    align-items: center;
    color: #333;
    font-size: 1.1rem;
    justify-content: center;
    padding: 0 20px;
  }
}

@media (min-width: 425px) {
  .content {
    font-size: 1.2rem;
  }
}

@media (min-width: 768px) {
  .content {
    font-size: 1.4rem;
  }
}

@media (min-width: 1024px) {
  .content {
    font-size: 1.4rem;
    grid-column: 3 / 11;
  }
}

@media (min-width: 1440px) {
  .content {
    font-size: 1.3rem;
    grid-column: 4 / 10;
  }
}

@media (min-width: 2560px) {
  .content {
    font-size: 2.1rem;
    grid-column: 4 / 10;
  }
}
