@media (min-width: 320px) {

  .container {
      background-color: white;
      padding: 10px;
      width: 320px;
  }
  
  .container::after {      
      overflow: hidden;
      transform: rotate(90deg);
  }
  
  .containeritens {
      display: flex;
      justify-content: space-around;
  }
  
  .item {    
      animation: banner 1s alternate-reverse infinite ;
  }
  
  @keyframes banner {
     0% {
        transform: translateX(0);
    }
    /* 50% {
        transform: translateX(calc(-10px * 3));
    } */
     100% {
        transform: translateX(calc(10px * 3));
    }
  }  
}