@media (min-width: 320px) {
  .container {
    grid-area: 1 / 1 / 1 / 17;
  }
  .content {
    align-items: center;
    color: black;
    display: flex;
    font-size: 0.8rem;
    font-weight: bold;
    height: 60px;
    justify-content: space-around;
  }
}
