a {
  text-decoration: none;
}

.cards {
  padding: 20px;
  border-radius: 4px;
  background-color: var(--main-color);
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards header {
  font-size: large;
  text-transform: uppercase;
}

.cards summary {
  font-size: 1.3rem;
  color: black;
}

.cards footer {
  font-size: 0.9rem;
  padding: 5px;
  border-radius: 4px;
}