a {
  text-decoration: none;
  color: #FFC9C9;
}

.cards {
  padding: 20px;
  border-radius: 30px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(200deg, #4E4DDC  0% , #240046 60% 90%, #4E4DDC 100%);
  box-shadow: 0px 50px 80px 0px #7282E9;
  animation: cards 5s infinite;
}

.cards:hover {
  animation: cardshover 0.5s 1 forwards;

}

/* @keyframes cards {
  0%   {background:#e49e48 ;}
  50%  {background: #edb674 ;}
  100% {background:#e49e48 ;}
} */

@keyframes cardshover {
  0%{    
    background:#240046 ;transform: scale(1);
  }
  100%{
    background:#240046 ;transform: scale(1.1);
  }
}

.cards header {
  font-size: large;
  text-transform: uppercase;
}

.cards summary {
  font-size: 1.9rem;
  color: #ffa659;
}

.cards footer {
  font-size: 1rem;
  padding: 5px;
  border-radius: 10px;
  color: #FFC9C9;
}