:root {
  --main-color: #6d12ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: inter, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 background-color: white;
}

